@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-color: #001821;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.body_main {
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

img {
    display:block;
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    color:#fff;
    text-decoration: none;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 156px; */
    padding-top: 27px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 80px;
}

.logo__img {
    width:85px;
    vertical-align: bottom;
}

.menu__list {
    display: inline-flex;
    justify-content: space-between;
}

.menu__item {
    padding-right: 42px;
}


.contacts__phone {
    font-size: 1.5em;
    font-style: normal;
}

.contacts__info {
    font-style: normal;
}

.hello {
    width: 50%;
    min-height: 600px;
}

.hello__title {
    font-size: 72px;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 30px;
}

.hello__text {
    font-size:18px;
}
.button {
    display: inline-block;
    margin-top: 30px;
    width: 135px;
    padding: 15px;
    background-color: #F5170E;
    color: #fff;
    border-radius: 35px;
    text-align: center;
}

.title__fire::after {
    content: url(img/flame.png);
    padding-left: 1%;
    vertical-align: middle;
}

.offers {
    margin-bottom: 127px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item {
    width: calc(100% / 3 - 18px);
}

.offers__content {
    background-color: #fff;
    color: #000;
    margin-top: -5px;
    padding: 8% 3%;
}

img.offers__img {
    height: 144px;
    width:100%;
    object-fit: cover;
}

.offers__features {
    display: flex;
    justify-content: flex-start;
}

.offers__feature {
    width: calc(100% / 2 - 14px);
}

/* Old */


.button--light {
    background-color: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    /* box-sizing: border-box; */
    border-radius: 35px;   
}


.news__content {
    display: flex;
    justify-content: space-between;
}

.news__item {
    width: 557px;
    position: relative;
    vertical-align: top;
    margin-right: 2%;
    flex: 1;
}

.single-news__img {
    width: 100%;
    vertical-align: top;
  
}

.single-news__text-content {
    position: absolute;
    left:0;
    right: 0;
    bottom:0;
    padding: 20px;
}

/* .single-news__text-content h3 {
    line-height: 0;
 } */

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__content {
    display: flex;
align-items: center;
margin-left: 36px;
}

.pagination__item {
    margin-right: 24px;
    text-align: center;
    padding: 5px 11px;
    border-radius: 100%;
    cursor: pointer;
}

.pagination__item:hover, .pagination__item_active {
    background-color: #fff;
    color: #F5170E;
}

 a {
  color: inherit;
}


.about {
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10%;
    position: relative;
    text-align: right;
    margin-bottom: 100px;
}

.about__content {
    position: relative;
    display: inline-block;
    margin-top: 80px;
    max-width:785px;
    background-image: url(img/mountains.png);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    right: 0;
    bottom:0;
    padding: 70px 202px 70px 81px;
    box-sizing: border-box;
    text-align: left;
}

 .about::before{
    position: absolute;
    top:0;
    left:0;
    content:"";
    display: block;
    width: 490px;
    height: 505px;
    background-image: url(img/gates.png);
    background-size: cover;
}

.about__text {
    margin-bottom: 7%;
}

/* .menu, .social, .contacts {
    display: inline-block;
} */

/* .social li {
    display: inline-block;
} */

.logo__footer img {
    width: 85px;
    margin-right: 79px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-right: 74px;
}

.social-icon {
    margin-right: 10px;
}

.social-icon:hover{
    filter: contrast(0.5);
}

.contacts__phone, .contacts__info {
    font-style: normal;
}

.contacts__text {
    font-size: 0.6em;
    color: #9A9A9A;
    font-style: normal;
}

/* services page */

.body__services {
    margin: 0;
}

.container {
    margin: 0 13%;
 }

.top-line {
    display:flex;
    flex-direction: column;
    min-height: 415px;
    background: #202123;
    padding-bottom: 25px;
    background: url("./img/headline.png") right 50% top no-repeat;
}
.top-line__container {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}


.breadcrumbs a {
    text-decoration: underline;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

a.breadcrumbs__item--active{
    text-decoration: none;
    color: #999999;
}

.breadcrumbs__item:after {
    content: "/";
    color: #999;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page-content {
    background: #FFFFFF;
    padding: 40px 0;
}

.service {
    display: flex;
    margin-bottom: 50px;
    padding: 30px;
}

.service:hover {
    background: #f4f5f5;
}

.services__img {
    width: 40%;
    margin-right: 59px;
}

.service__content {
    flex: 1;
    color: #000;
}

.service__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
}

.service__desc {
    line-height: 1.7;
    margin-bottom:30px;
}

.pagination--theme--dark {
    color: #303234;
    font-weight: bold;
}

.pagination--theme--dark .pagination__item:hover, .pagination--theme--dark .pagination__item_active {
    color: #fff;
    background-color: #F5170E;
}

.inner-section {
    background: #fff;
    color: #202123;
    padding: 70px 0;
}

.inner-section--bg--grey {
    background: #f4f5f5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners__link {
    display: flex;
    width:270px;
    justify-content: center;
    align-content: center;
    filter: grayscale(100%);
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item img {
    max-width: 70%;
    margin-bottom: 60px;
}

.partners__link:hover {
    filter: grayscale(0);
}